body{
    background-color: pink;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: whitesmoke;

}

.fa-compass{
color: #fe424d;
font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}
.f-info, .f-info-socials{
    width: 100%;
}
/* .f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 2rem;
}
 */





.f-info-socials i{
    font-size: 1.2rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: lightcoral;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}




.card{
    border: none !important;
    margin-bottom: 2rem;


}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.23;
    background-color: white;
}

.edit-btn{
    margin-right: 5px;
}

.internal{
    width: 20rem !important;
}

.btns{
    margin-bottom: 10px;
}

#map {
  height: 350px;
  width: 100%;
}
